body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;

}


header, footer {
    background-color: red;
}


.site-title {
    color: purple;
}

#my-image {
    box-shadow: 0 0 2px 1px black;
}

ul {
    list-style-type: square;
}

.hobbies li:nth-child(odd) {
    background-color: blue;
}